# PostgreSQL (Neon)
POSTGRES_URL="postgresql://usuario:senha@host.db.neon.tech/nomedb?sslmode=require"

# NextAuth.js (gere com: pnpm dlx auth secret)
AUTH_SECRET="gere-uma-chave-com-pnpx-auth-secret"
AUTH_GOOGLE_ID="seu-google-client-id"
AUTH_GOOGLE_SECRET="seu-google-client-secret"
